*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li>span{
    cursor: pointer;
}
.done{
    text-decoration: line-through;
}
.remove{
    padding-right: 20px;
}
