<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <!-- v-model all'input che modificherà il testo della variabile temporanea che ho creato -->
            <!-- al click o premendo il tasto invio chiamo  metodo addtask -->
            <input type="text" v-model='temporaryTask.text' @keyup.enter='addTask' placeholder="Inserisci una nuova Task">
            <button @click='addTask'> Invia</button>
        </header>
       <main>
           <div class="task-container">
                <ul>
                    <!-- creato una lista -->
                    <!-- fatto un for degli oggetti chiamati task nell'array tasks -->
                    <!-- stampato in pagina i text degli oggetti -->
                    <!-- (1)messo un v-bind al primo span  -->
                    <!-- aggiungo classe items e chiedo se task nella posizione i è vero aggiungi classe done -->
                    <!-- altrimenti non aggiunge nessuna classe -->
                    <!-- al click chiama funzione check -->
                    <!-- (2)secondo span al click chiamo  metodo removeTask -->
                    <li v-for='(task,i) in tasks'>
                        <span :class="['items',tasks[i].done ? 'done' : '']" @click='check(i)'>{{task.text}}</span>
                        <span class="remove" @click="removeTask(i)">X</span>
                    </li>
                </ul>
           </div>
       </main>
    </div>

    <script src="js/script.js"></script>
</body>
</html>